<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Sign In
          </div>
          <div class="card-body">
            <app-sign-in-form></app-sign-in-form>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            Sign Up
          </div>
          <div class="card-body">
            <app-sign-up-form></app-sign-up-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>