<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" class="form-control" id="name" formControlName="firstName"
      [class.is-invalid]="form.get('firstName').invalid && form.get('firstName').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('firstName').errors?.required">This field is required.</div>
      <div *ngIf="form.get('firstName').errors?.maxlength">Maximum length has exceeded.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="middleName">Middle Name:</label>
    <input type="text" class="form-control" id="name" formControlName="middleName"
      [class.is-invalid]="form.get('middleName').invalid && form.get('middleName').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('middleName').errors?.required">This field is required.</div>
      <div *ngIf="form.get('middleName').errors?.email">Please input a valid email.</div>
      <div *ngIf="form.get('middleName').errors?.maxlength">Maximum length has exceeded.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" class="form-control" id="name" formControlName="lastName"
      [class.is-invalid]="form.get('lastName').invalid && form.get('lastName').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('lastName').errors?.required">This field is required.</div>
      <div *ngIf="form.get('lastName').errors?.email">Please input a valid email.</div>
      <div *ngIf="form.get('lastName').errors?.maxlength">Maximum length has exceeded.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" id="name" formControlName="email"
      [class.is-invalid]="form.get('email').invalid && form.get('email').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('email').errors?.required">This field is required.</div>
      <div *ngIf="form.get('email').errors?.email">Please input a valid email.</div>
      <div *ngIf="form.get('email').errors?.maxlength">Maximum length has exceeded.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" formControlName="password"
      [class.is-invalid]="form.get('password').invalid && form.get('password').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('password').errors?.required">This field is required.</div>
      <div *ngIf="form.get('password').errors?.minlength">Minimum length is 6.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
      [class.is-invalid]="form.get('confirmPassword').invalid && form.get('confirmPassword').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('confirmPassword').errors?.required">This field is required.</div>
      <div *ngIf="form.get('confirmPassword').errors?.mustMatch">Passwords must match.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" class="form-control" id="name" formControlName="phone" />
  </div>

  <div class="form-group">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="farmer" value="Farmer" formControlName="role" />
      <label class="custom-control-label" for="farmer">Farmer</label>
    </div>

    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" class="custom-control-input" id="beekeeper" value="Beekeeper" formControlName="role" />
      <label class="custom-control-label" for="beekeeper">Beekeeper</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign Up</button>

  <!-- <pre>{{ form.value | json }}</pre> -->
</form>