<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" id="name" formControlName="email"
      [class.is-invalid]="form.get('email').invalid && form.get('email').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('email').errors?.required">This field is required.</div>
      <div *ngIf="form.get('email').errors?.email">Please input a valid email.</div>
      <div *ngIf="form.get('email').errors?.maxlength">Maximum length has exceeded.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" formControlName="password"
      [class.is-invalid]="form.get('password').invalid && form.get('password').dirty" />
    <div class="invalid-feedback">
      <div *ngIf="form.get('password').errors?.required">This field is required.</div>
      <div *ngIf="form.get('password').errors?.minlength">Minimum length is 6.</div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign In</button>

  <!-- <pre>{{ form.value | json }}</pre> -->
</form>