<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Home
          </div>
          <div class="card-body">
            <p>text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>