<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            Contacts
          </div>
          <div class="card-body">

            <ng-container *ngIf="values$ | async as values; else loading">
              <p>{{ values }}</p>
            </ng-container>

            <ng-template #loading>
              <p><em>Loading...</em></p>
            </ng-template>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>